apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "osticket.fullname" . }}-installer
  labels:
    {{- include "osticket.labels" . | nindent 4 }}
data:
{{ (.Files.Glob "files/install_check.sh").AsConfig | indent 2 }}
